<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.501742667642-5e1d3tfluiqd613570ltc5eulrmknj51</string>
			</array>
		</dict>
	</array>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-Bold</string>
		<string>LexendDeca-Regular</string>
		<string>LexendDeca-SemiBold</string>
	</array>
	<key>ATSApplicationFontsPath</key>
	<string></string>
</dict>
</plist>
